body {
    margin: 0px;
    display: flex;
}

button {
    display: inline;
    width: 144px;
    height: 48px;
    margin: 50px;
    font-weight: bold;
    font-size: 24px;
}

.block {
    background-color: blue;
}

#grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    max-width: 960px;
    max-height: 960px;
}

.mouseOver {
    background-color: black;
}